@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300&family=Libre+Baskerville&display=swap');

body{
    background-color: #B4D4FF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}
.qr-code{
    display: flex;
    justify-content: center;
}
.container{
    background-color: white;
    width: 280px;
    margin-top: 20vh;
    height: 430px;
    border-radius: 15px;
}

img{
    width: 250px;
    border-radius: 15px;
    margin: 15px 15px 0px 15px;


}

.one{
    margin: 20px 2px 0px 48px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.sec{
    margin: 0px 10px 0px 36px;
    color:hsl(218, 44%, 22%);
    font-weight: 700;
}
.p1{
    color:hsl(212, 45%, 89%);
    font-size: 14px;
    margin: 10px 0px 0px 34px;
    font-weight: 400;

}
.p2{
    color: hsl(212, 45%, 89%);
    font-size: 14px;
    margin: 0px 26px ;
    font-weight: 400;
}
.p3{
    color: hsl(212, 45%, 89%);
    font-size: 14px;
    margin: 0px 100px;
    font-weight: 400;
}